<!DOCTYPE html>
<html lang="en">

<head>
  <title>halo </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
  <!-- <script src="./htmx.min.js"></script> -->
</head>

<body>

  <h1>Deno + Hono + Appscript + HTMX</h1>

  <nav>
    <a href="/">home</a>
    <a href="/products">products</a>
    <a href="/users">users</a>
  </nav>

  <div>
    <h2 id="counter">Counter: <span>0</span></h2>

    <button hx-get="/api/increment" hx-swap="innerHTML" hx-target="#counter">increment counter</button>
  </div>




  <div>
    <h2>Try submit data with HTMX</h2>
    <form id="myForm" hx-post="/submit" hx-target="#response" style="max-width:300px;">
      <input type="text" id="username" name="username" placeholder="Username" required>
      <input type="email" id="email" name="email" placeholder="Email" required>
      <button type="submit" hx-swap="delete" hx-indicator="#loading">Submit</button>
      <div id="loading" class="htmx-indicator">Submitting...</div>
    </form>
    <div id="response"></div>
  </div>


</body>

</html>
